// - - - - - - - - - - - - - - - - - - - - - - - - -
// HTML & Body
// - - - - - - - - - - - - - - - - - - - - - - - - -

html, body {
	width: auto;
	height: 100%;
	&.in-popup { height: auto; }
}
body { overflow: hidden; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Tools
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Margins
.no-margin-top { margin-top: 0 !important; }
.tiny-margin-top { margin-top: rem-calc(5) !important; }
.small-margin-top { margin-top: rem-calc(10) !important; }
.medium-margin-top { margin-top: rem-calc(25) !important; }
.large-margin-top { margin-top: rem-calc(30) !important; }
.xlarge-margin-top { margin-top: rem-calc(45) !important; }
.no-margin-right { margin-right: 0 !important; }
.tiny-margin-right { margin-right: rem-calc(5) !important; }
.small-margin-right { margin-right: rem-calc(10) !important; }
.medium-margin-right { margin-right: rem-calc(25) !important; }
.large-margin-right { margin-right: rem-calc(30) !important; }
.xlarge-margin-right { margin-right: rem-calc(45) !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.tiny-margin-bottom { margin-bottom: rem-calc(5) !important; }
.small-margin-bottom { margin-bottom: rem-calc(10) !important; }
.medium-margin-bottom { margin-bottom: rem-calc(25) !important; }
.large-margin-bottom { margin-bottom: rem-calc(30) !important; }
.xlarge-margin-bottom { margin-bottom: rem-calc(45) !important; }
.no-margin-left { margin-left: 0 !important; }
.tiny-margin-left { margin-left: rem-calc(5) !important; }
.small-margin-left { margin-left: rem-calc(10) !important; }
.medium-margin-left { margin-left: rem-calc(25) !important; }
.large-margin-left { margin-left: rem-calc(30) !important; }
.xlarge-margin-left { margin-left: rem-calc(45) !important; }
.no-margin-side {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.no-padding-side {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
// Radius
.top-radius { @include side-radius(top, $global-radius); }
.bottom-radius { @include side-radius(bottom, $global-radius); }
// Disabled divs
// div[disabled] {
// 	color: $disabled-color-mid;
// 	h1, h2, h3, h4, h5, h6 { color: $disabled-color-mid; }
// 	a {
// 		color: $disabled-color-mid;
// 		&:hover {
// 			color: $white;
// 			background: $disabled-color-mid;
// 		}
// 	}
// }
// Miscellaneous
.full-width { width: 100%; }
.overflow-visible { overflow: visible !important; }
.even {
	background: $gray-alt;
	@include border-radius($global-radius);
}
// .super-highlight { background: $warning-color-light; }
.inline-item {
	margin-right: rem-calc(40);
	white-space: nowrap;
}
.position-relative { position: relative; }
.row-squeeze {
	margin-left: $column-gutter / 2 !important;
	margin-right: $column-gutter / 2 !important;
}
.clickable { cursor: pointer; }
.collapsable {
	float: left;
	overflow: hidden;
	width: 100%;
}
.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
div { outline: none; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

.white { color: $white; }
.primary { color: $primary-color; }
.success { color: $success-color; }
// .alert { color: $alert-color; }
// .warning { color: $warning-color; }
// .disabled { color: $disabled-color; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Type
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Headers
h6 { font-weight: $font-weight-bold; }

// Anchors
a:not(.button) {
	outline: none;
	@include transition(background 300ms ease-out);
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Timepicker
.timepicker {
	display: inline-block;
	margin-bottom: 0;
	background: transparent;
	border: solid 0px;
	tr.even, tr.alt, tr:nth-of-type(even) {
		background: transparent;
	}
	td {
		padding: 4px;
	}
	button.small {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

// Material design alterations
md-select, md-select:not([disabled]):focus {
	.md-select-value.md-select-placeholder, .md-select-value { color: $white !important; }
}

// Foundation design alterations
// Labels
label { color: $white; }

// Inputs
#{text-inputs(all, 'input')} {
	margin: 0 0 rem-calc(16) 0;
	padding: rem-calc(16) / 2;
	height: (rem-calc(13) + (rem-calc(16) * 1.5) - rem-calc(1));
	font-size: rem-calc(13);
	outline: none;
	@include input-placeholder { color: $input-placeholder-font-color; }
	@include transition(background 0.15s linear, border 0.15s linear, color 0.15s linear);
}
select {
	outline: none;
	background-color: $white;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
	background-position: right;
	font-size: rem-calc(13);
	&:hover, &:focus {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
		border-color: $input-focus-border-color;
	}
	&[disabled="disabled"]:hover {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
		border-color: $gray-light;
	}
}

// Inputs media queries
@media #{$medium-up} {
	#{text-inputs(all, 'input')} {
		margin: 0 0 $form-spacing 0;
		padding: $form-spacing / 2;
		height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
		font-size: $input-font-size;
	}
}

// Angular inline edit
.ng-inline-edit__input {
	display: inline-block !important;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent !important;
	border-bottom: 1px dashed $primary-color !important;
	color: $white !important;
}
.ng-inline-edit__button { margin-left: 8px; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.button, button {
	outline: none;
	.bordered {
		border: solid 2px $primary-color-dark;
	}
}
.prefix, .postfix {
	height: (rem-calc(13) + (rem-calc(16) * 1.5));
	line-height: (rem-calc(13) + (rem-calc(16) * 1.5));
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Icons
// - - - - - - - - - - - - - - - - - - - - - - - - -

i { outline: none; }
.fa { @include transition(color 300ms ease-out); }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Tables
// - - - - - - - - - - - - - - - - - - - - - - - - -

table.datepicker {
	outline: none;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 0;
	padding-left: 3px;
	background: transparent;
	border-width: 0;
	thead {
		background: transparent;
		th {
			padding: rem-calc(2) rem-calc(5);
			color: $primary-color-dark;
		}
	}
	tr.even, tr.alt, tr:nth-of-type(even) { background: transparent; }
	tbody tr td {
		padding: rem-calc(2) rem-calc(5);
		font-size: 95% !important;
	}
	button.small, .button.small {
		padding: rem-calc(6) rem-calc(9);
		margin-bottom: 0;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Tooltips
// - - - - - - - - - - - - - - - - - - - - - - - - -

.tooltip {
	z-index: 1030;
	visibility: visible;
	filter: alpha(opacity=0);
	opacity: 0;
	background: transparent;
	&.in {
		filter: alpha(opacity=90);
		opacity: .9;
	}
	&.top {
		padding: rem-calc(5) 0;
		margin-top: rem-calc(-3);
		.tooltip-arrow {
			bottom: 0;
			left: 50%;
			margin-left: rem-calc(-5);
			border-width: rem-calc(5) rem-calc(5) 0;
			border-top-color: $tooltip-bg;
		}
	}
	&.top-left {
		.tooltip-arrow {
			bottom: 0;
			left: rem-calc(5);
			border-width: rem-calc(5) rem-calc(5) 0;
			border-top-color: $tooltip-bg;
		}
	}
	&.top-right {
		.tooltip-arrow {
			bottom: 0;
			right: rem-calc(5);
			border-width: rem-calc(5) rem-calc(5) 0;
			border-top-color: $tooltip-bg;
		}
	}
	&.right {
		padding: 0 rem-calc(5);
		margin-left: rem-calc(3);
		.tooltip-arrow {
			top: 50%;
			left: 0;
			margin-top: rem-calc(-5);
			border-width: rem-calc(5) rem-calc(5) rem-calc(5) 0;
			border-right-color: $tooltip-bg;
		}
	}
	&.bottom {
		padding: rem-calc(5) 0;
		margin-top: rem-calc(3);
		.tooltip-arrow {
			top: 0;
			left: 50%;
			margin-left: rem-calc(-5);
			border-width: 0 rem-calc(5) rem-calc(5);
			border-bottom-color: $tooltip-bg;
		}
	}
	&.bottom-left {
		.tooltip-arrow {
			top: 0;
			left: rem-calc(5);
			border-width: 0 rem-calc(5) rem-calc(5);
			border-bottom-color: $tooltip-bg;
		}
	}
	&.bottom-right {
		.tooltip-arrow {
			top: 0;
			left: rem-calc(5);
			border-width: 0 rem-calc(5) rem-calc(5);
			border-bottom-color: $tooltip-bg;
		}
	}
	&.left {
		padding: 0 rem-calc(5);
		margin-top: rem-calc(-3);
		.tooltip-arrow {
			top: 50%;
			right: 0;
			margin-top: rem-calc(-5);
			border-width: rem-calc(5) 0 rem-calc(5) rem-calc(5);
			border-left-color: $tooltip-bg;
		}
	}
	.tooltip-inner {
		padding: $tooltip-padding;
		color: $tooltip-font-color;
		text-align: center;
		background: $tooltip-bg;
		@include border-radius($tooltip-radius);
	}
	.tooltip-arrow {
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: $microformat-border-style;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Popup
// - - - - - - - - - - - - - - - - - - - - - - - - -

.popup {
	width: 700px;
	height: 500px;
	overflow: hidden;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Full screen
// - - - - - - - - - - - - - - - - - - - - - - - - -

.full-screen {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Navigation
// - - - - - - - - - - - - - - - - - - - - - - - - -

.nav {
	position: relative;
	z-index: 20;
	float: left;
	width: 60px;
	height: 100%;
	background: $gray-light;
	.element {
		position: relative;
		width: 200px;
		height: 60px;
		margin-left: -140px;
		background: $gray-light;
		color: $gray-light-3x !important;
		border-bottom: solid 1px $gray;
		outline: none;
		@include transition(margin 350ms ease-out);
		&:hover {
			margin-left: 0;
			.icon {
				border-right: solid 5px $primary-color;
				color: $primary-color;
			}
		}
		.text {
			float: left;
			width: 139px;
			height: 100%;
			padding: 20px 15px 0 15px;
			cursor: pointer;
			color: $white;
		}
		.icon {
			float: left;
			width: 60px;
			height: 100%;
			padding: 15px 11px 0 16px;
			border-right: solid 5px $gray-light;
			cursor: pointer;
			@include transition(color 100ms ease-out, border-color 100ms ease-out);
			.num {
				position: absolute;
				top: 4px;
				right: 4px;
				padding: 2px 5px;
				color: $white;
				font-size: 9px;
				line-height: 10px;
				background: $success-color;
				@include border-radius(100px);
			}
		}
		&.selected {
			.icon { color: $primary-color; }
		}
		&.logo {
			.icon {
				margin-left: 140px;
				padding-top: 20px;
				font-size: 18px;
				font-weight: bold;
				cursor: default;
			}
			&:hover {
				margin-left: -140px;
			}
		}
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Main section
// - - - - - - - - - - - - - - - - - - - - - - - - -

.main-section {
	position: relative;
	z-index: 10;
	float: left;
	height: 100%;
	// Header
	.header {
		z-index: 10;
		position: relative;
		max-width: 100%;
		height: 60px;
		padding-top: 17px;
		border-bottom: solid $gray 2px;
		&.bordered { border-bottom-color: $primary-color; }
		@include transition(border-color 300ms ease-out);
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			padding: 0;
			color: $white;
			font-weight: $font-weight-bold;
		}
		.action-button {
			z-index: 20;
			position: absolute;
			top: 30px;
			right: $column-gutter / 2;
			width: 40px;
			height: 40px;
			padding: 5px;
			background: $primary-color;
			color: $white;
			outline: none;
			@include border-radius(20px);
			@include transition(width 300ms ease-out, height 300ms ease-out);
			@include box-shadow(-2px 2px 5px 0 $gray-dark);
			&.expandable {
				.action-icon {
					display: block;
					padding-right: 3px;
					@include transition(display 300ms ease-out);
				}
				.action-content {
					display: none;
					cursor: default;
					@include transition(display 300ms ease-out);
					.square {
						height: 95px;
						padding-top: 12px;
						border-right: solid 1px $primary-color-dark;
						border-bottom: solid 1px $primary-color-dark;
						cursor: pointer;
						color: $primary-color-dark;
						outline: none;
						&:hover {
							background: $primary-color-light;
							color: $white;
						}
						&.end { border-right-width: 0px; }
						&.top-left {
							@include side-radius('left', 20px);
							@include side-radius('bottom', 0px);
						}
						&.top-right {
							@include side-radius('right', 20px);
							@include side-radius('bottom', 0px);
						}
						&.bottom-left {
							@include side-radius('left', 20px);
							@include side-radius('top', 0px);
						}
						&.bottom-right {
							@include side-radius('right', 20px);
							@include side-radius('top', 0px);
						}
						i { padding-bottom: 5px; }
						small { @include transition(color 300ms ease-out); }
					}
					.checkbox {
						display: inline-block;
						margin: 0 4px;
						.c-input {
							display: block;
						}
						.c-label {
							display: block;
						}
					}
					.top {
						height: 241px;
						border-bottom: solid 1px $primary-color-dark;
					}
				}
				&:hover {
					width: 300px;
					height: 285px;
					padding: 0;
					.action-icon { display: none; }
					.action-content { display: block; }
				}
			}
		}
	}
	// Content
	.content {
		z-index: 10;
		max-width: 100%;
		height: 440px;
		padding-bottom: 15px;
		.title {
			margin-top: 10px;
			margin-bottom: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			background: $gray-dark;
			color: $white;
			outline: none;
			@include border-radius($global-radius);
			.fa-close { color: $gray-light !important; }
			&:hover .fa-close:hover { color: $primary-color !important; }
		}
		.item {
			padding-top: 5px;
			padding-bottom: 5px;
			color: $gray-light-3x;
			outline: none;
			&:hover {
				.fa-close {
					display: block;
					&:hover { color: $primary-color; }
				}
			}
			&.clickable:hover { color: $white; }
			&.selected { color: $primary-color !important; }
			&.window {
				padding-top: 5px;
				padding-bottom: 6px;
				color: $white;
				border-bottom: solid $primary-color rem-calc(2);
				@include background-image(linear-gradient($gray, $gray-light));
				i { color: $primary-color; }
				&.collapsed { border-bottom-color: $gray; }
			}
			.fa-close { display: none; }
			.special-highlight {
				padding: 0 5px;
				background: $gray-light-2x;
				border: solid 1px $gray-light-3x;
				color: $white;
				@include border-radius(3px);
			}
		}
		.settings-section-name { margin-top: 4px; }
	}
}
