// - - - - - - - - - - - - - - - - - - - - - - - - -
// Tools
// - - - - - - - - - - - - - - - - - - - - - - - - -

.no-margin-top { margin-top: 0 !important; }
.tiny-margin-top { margin-top: rem-calc(5) !important; }
.small-margin-top { margin-top: rem-calc(10) !important; }
.medium-margin-top { margin-top: rem-calc(20) !important; }
.large-margin-top { margin-top: rem-calc(30) !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.tiny-margin-bottom { margin-bottom: rem-calc(5) !important; }
.small-margin-bottom { margin-bottom: rem-calc(10) !important; }
.medium-margin-bottom { margin-bottom: rem-calc(20) !important; }
.large-margin-bottom { margin-bottom: rem-calc(30) !important; }
.no-margin-side {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.even, .odd {
	padding: $column-gutter / 2 $column-gutter / 2 0 $column-gutter / 2;
	background: $secondary-color-light-2x;
}
.even .disabled-color { color: $secondary-color-light; }
.odd { background: $secondary-color-light-4x; }
.clickable { cursor: pointer; }
.full-width { width: 100% !important; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

.primary-color { color: $primary-color; }
.success-color { color: $success-color; }
.alert-color { color: $alert-color; }
.warning-color { color: $warning-color; }
.disabled-color { color: $disabled-color; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Type
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Headers
h6 { font-weight: $font-weight-bold; }

// Anchors
a:not(.button) {
	outline: none;
	@include transition(background 300ms ease-out);
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.button, button { outline: none; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Icons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fa { @include transition(color 300ms ease-out); }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Popup
// - - - - - - - - - - - - - - - - - - - - - - - - -

.popup {
  width: rem-calc(350);
  .popup-header {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    background: $success-color;
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      color: $white;
    }
  }
  .popup-content {
    .item {
      padding-top: rem-calc(7);
      padding-bottom: rem-calc(7);
      &.bordered { border-bottom: dashed rem-calc(1) $secondary-color; }
      &.title { background: $secondary-color-light-2x; }
      &.selected { background: $success-color-light-3x; }
      .image-cntr { padding-right: 0; }
    }
  }
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

