// - - - - - - - - - - - - - - - - - - - - - - - - -
// Tools
// - - - - - - - - - - - - - - - - - - - - - - - - -

.no-margin-top { margin-top: 0 !important; }
.tiny-margin-top { margin-top: rem-calc(5) !important; }
.small-margin-top { margin-top: rem-calc(10) !important; }
.medium-margin-top { margin-top: rem-calc(20) !important; }
.large-margin-top { margin-top: rem-calc(30) !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.tiny-margin-bottom { margin-bottom: rem-calc(5) !important; }
.small-margin-bottom { margin-bottom: rem-calc(10) !important; }
.medium-margin-bottom { margin-bottom: rem-calc(20) !important; }
.large-margin-bottom { margin-bottom: rem-calc(30) !important; }
.no-margin-side {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.no-padding-right { padding-right: 0; }
.even, .odd {
	padding: $column-gutter / 2 $column-gutter / 2 0 $column-gutter / 2;
	// background: $secondary-color-light-2x;
}
// .even .disabled-color { color: $secondary-color-light; }
// .odd { background: $secondary-color-light-4x; }
.clickable { cursor: pointer; }
.full-width { width: 100% !important; }
.collapsable {
	float: left;
	overflow: hidden;
	width: 100%;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

.primary-color { color: $primary-color; }
// .success-color { color: $success-color; }
// .alert-color { color: $alert-color; }
// .warning-color { color: $warning-color; }
// .disabled-color { color: $disabled-color; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Type
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Headers
h6 { font-weight: $font-weight-bold; }

// Anchors
a:not(.button) {
	outline: none;
	@include transition(background 300ms ease-out);
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.button, button { outline: none; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Icons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.fa { @include transition(color 300ms ease-out); }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Popup
// - - - - - - - - - - - - - - - - - - - - - - - - -

// .popup {
// 	width: rem-calc(350);
// 	.popup-header {
// 		padding-top: rem-calc(10);
// 		padding-bottom: rem-calc(10);
// 		background: $success-color;
// 		border-bottom: solid $success-color-dark 3px;
// 		.menu-icon { height: 28px; }
// 		h1, h2, h3, h4, h5, h6 {
// 			margin: 0;
// 			color: $white;
// 		}
// 	}
// 	.popup-menu {
// 		padding-top: rem-calc(20);
// 		padding-bottom: rem-calc(20);
// 		.item {
// 			width: 100%;
// 			padding: rem-calc(7) rem-calc(10) rem-calc(10) rem-calc(10);
// 			background: $secondary-color-dark-2x;
// 			border-bottom: solid $secondary-color-dark-4x 3px;
// 			cursor: pointer;
// 			@include border-radius($global-radius);
// 			@include transition(all 100ms ease-out);
// 			&:hover {
// 				padding-top: rem-calc(10);
// 				background: $secondary-color-dark;
// 				border-bottom-width: 0px;
// 			}
// 		}
// 	}
// 	.popup-content {
// 		.item {
// 			padding-top: rem-calc(7);
// 			padding-bottom: rem-calc(7);
// 			&.bordered { border-bottom: dashed rem-calc(1) $secondary-color-dark-2x; }
// 			&.title {
// 				background: $primary-color;
// 				border-bottom: solid $primary-color-dark 2px;
// 				i { color: $primary-color-light-2x; }
// 			}
// 			&.selected {
// 				background: $secondary-color-dark-2x;
// 				i { color: $success-color; }
// 			}
// 			i { color: $secondary-color-dark; }
// 		}
// 	}
// }
.popup {
	width: rem-calc(350);
	height: rem-calc(600);
	// Top header
	.header {
		height: rem-calc(82);
		padding-top: rem-calc(29);
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			color: $white;
			font-weight: $font-weight-bold;
		}
	}
	// Content
	.content {
		height: rem-calc(473);
	}
	// Bottom nav bar
	.nav-bar {
		height: rem-calc(45);
		background: $gray-light;
	}
}