<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <link rel="stylesheet" href="bower_components/icomoon/style.css">
        <!-- endbuild -->
    </head>
    <body id="ng-app" ng-app="TabMagicApp" class="in-popup">

        <div class="popup" ng-controller="PopUpCtrl">

            <!-- Navigation -->
            <div class="nav">
                <div class="element logo">
                    <div class="icon">
                        <span class="primary">T</span><span class="white">M</span>
                    </div>
                </div>
                <div class="element" ng-class="{ selected: navigation === 'recentlyClosed' }" ng-click="navigation = 'recentlyClosed'; sessions.recentlyClosed.removeSelections()">
                    <div class="text">Recent Closed</div>
                    <div class="icon"><i class="fa icon-close fa-2x"></i></div>
                </div>
                <div class="element" ng-class="{ selected: navigation === 'recentlyVisited' }" ng-click="navigation = 'recentlyVisited'; history.recentlyVisited.get('', 30); history.recentlyVisited.removeSelections()">
                    <div class="text">Recent History</div>
                    <div class="icon"><i class="fa icon-history fa-2x"></i></div>
                </div>
                <div class="element" ng-class="{ selected: navigation === 'devices' }" ng-click="navigation = 'devices'; sessions.devices.get()">
                    <div class="text">Synced Devices</div>
                    <div class="icon"><i class="fa icon-devices fa-2x"></i></div>
                </div>
                <div class="element" ng-class="{ selected: navigation === 'bringToOne' }" ng-click="navigation = 'bringToOne'; windows.getAll(); windows.removeSelections()">
                    <div class="text">Bring to One</div>
                    <div class="icon"><i class="fa icon-filter_list fa-2x"></i></div>
                </div>
                <div class="element" ng-class="{ selected: navigation === 'snooze' }" ng-click="navigation = 'snooze'; tabs.query(true, true); windows.getAll(); settings.init()">
                    <div class="text">Snooze</div>
                    <div class="icon">
                        <i class="fa icon-timer fa-2x"></i>
                        <div class="num text-center" ng-show="tabs.snooze.current.data.length > 0" ng-bind="tabs.snooze.current.data.length"></div>
                    </div>
                </div>
                <div class="element" ng-class="{ selected: navigation === 'settings' }" ng-click="navigation = 'settings'; settings.init()">
                    <div class="text">Settings</div>
                    <div class="icon"><i class="fa icon-settings fa-2x"></i></div>
                </div>
            </div>
            <!-- End Navigation -->

            <!-- Main -->
            <div class="main-section">

                <!-- Header -->
                <div class="row header no-margin-side overflow-visible" add-border="content">
                    <div class="small-12 columns">
                        <h5><span class="primary">TAB</span>MAGIC</h5>
                    </div>
                    <div class="action-button text-center clickable fx-fade-normal" title="Restore selected" ng-show="actionButtonShow('recentlyClosed') && navigation === 'recentlyClosed'" ng-click="sessions.recentlyClosed.reopen()">
                        <i class="fa icon-refresh fa-2x"></i>
                    </div>
                    <div class="action-button text-center clickable fx-fade-normal" title="Restore selected" ng-show="actionButtonShow('recentlyVisited') && navigation === 'recentlyVisited'" ng-click="history.recentlyVisited.reopen()">
                        <i class="fa icon-refresh fa-2x"></i>
                    </div>
                    <div class="action-button text-center clickable fx-fade-normal" title="Open selected" ng-show="actionButtonShow('devices') && navigation === 'devices'" ng-click="sessions.devices.openTab()">
                        <i class="fa icon-refresh fa-2x"></i>
                    </div>
                    <div class="action-button text-center clickable fx-fade-normal" title="Bring selected to one" ng-show="actionButtonShow('bringToOne') && navigation === 'bringToOne'" ng-click="tabs.bringToOne(false)">
                        <i class="fa icon-filter_list fa-2x"></i>
                    </div>
                    <div class="action-button text-right clickable expandable overflow-hidden fx-fade-normal" ng-show="actionButtonShow('snooze') && navigation === 'snooze'">
                        <i class="fa icon-pause fa-2x action-icon"></i>
                        <div class="action-content full-width">
                            <div class="row no-margin-side fx-fade-up" ng-show="!tmSnoozePeriodicallySelected && !tmSnoozePickADateSelected">
                                <div class="small-4 columns square text-center no-padding-side top-left" ng-click="tabs.snooze.add(false, 'laterToday')">
                                    <i class="fa icon-redo fa-3x"></i><br />
                                    <strong><small>Later Today</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side" ng-click="tabs.snooze.add(false, 'thisEvening')">
                                    <i class="fa icon-brightness_4 fa-3x"></i><br />
                                    <strong><small>This Evening</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side end top-right" ng-click="tabs.snooze.add(false, 'tomorrow')">
                                    <i class="fa icon-brightness_5 fa-3x"></i><br />
                                    <strong><small>Tomorrow</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side" ng-click="tabs.snooze.add(false, 'thisWeekend')">
                                    <i class="fa icon-whatshot fa-3x"></i><br />
                                    <strong><small>This Weekend</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side" ng-click="tabs.snooze.add(false, 'nextWeek')">
                                    <i class="fa icon-work fa-3x"></i><br />
                                    <strong><small>Next Week</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side end" ng-click="tabs.snooze.add(false, 'inAMonth')">
                                    <i class="fa icon-bookmark_outline fa-3x"></i><br />
                                    <strong><small>In a Month</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side bottom-left" ng-click="tabs.snooze.add(false, 'someday')">
                                    <i class="fa icon-check_box fa-3x"></i><br />
                                    <strong><small>Someday</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side" ng-click="tmSnoozePeriodicallySelected = !tmSnoozePeriodicallySelected">
                                    <i class="fa icon-loop fa-3x"></i><br />
                                    <strong><small>Periodically</small></strong>
                                </div>
                                <div class="small-4 columns square text-center no-padding-side end bottom-right" ng-click="tmSnoozePickADateSelected = !tmSnoozePickADateSelected">
                                    <i class="fa icon-event fa-3x"></i><br />
                                    <strong><small>Pick a Date</small></strong>
                                </div>
                            </div>
                            <div class="row fx-fade-up fx-easing-elastic" ng-show="tmSnoozePeriodicallySelected">
                                <div class="small-12 columns top">
                                    <form name="tabs.snooze.periodically.form.data" novalidate>
                                        <div class="row small-margin-top medium-margin-right medium-margin-left">

                                            <!-- Wake Up This Tab -->
                                            <div class="small-12 columns text-center tiny-margin-top">
                                                <label>
                                                    Wake up this tab
                                                    <select class="radius" name="wakeUpThisTab" ng-model="tabs.snooze.periodically.form.wakeUpThisTab.models.edit" ng-required="true" ng-options="option for option in tabs.snooze.periodically.form.wakeUpThisTab.options" ng-change="tabs.snooze.periodically.form.reset(true)"></select>
                                                </label>
                                            </div>
                                            <!-- End Wake Up This Tab -->

                                            <!-- On These Days -->
                                            <div class="small-12 columns text-center small-margin-bottom" ng-show="tabs.snooze.periodically.form.onTheseDays.showInput()">
                                                <label class="no-margin-bottom">on these days</label>
                                                <div class="checkbox" ng-repeat="option in tabs.snooze.periodically.form.onTheseDays.options">
                                                    <div class="c-input">
                                                        <input class="no-margin-bottom" name="option.data" type="checkbox" ng-model="option.model" value="option.value" />
                                                    </div>
                                                    <div class="c-label" ng-bind="option.label"></div>
                                                </div>
                                            </div>
                                            <!-- End On These Days -->

                                            <!-- On This Day -->
                                            <div class="small-12 columns text-center" ng-show="tabs.snooze.periodically.form.onThisDay.showInput()">
                                                <label>
                                                    on this day
                                                    <select class="radius" name="onThisDay" ng-model="tabs.snooze.periodically.form.onThisDay.models.edit" ng-options="option for option in tabs.snooze.periodically.form.onThisDay.options"></select>
                                                </label>
                                            </div>
                                            <!-- End On This Day -->

                                            <!-- On This Date -->
                                            <div class="small-12 columns text-center" ng-show="tabs.snooze.periodically.form.onThisDate.showInput()">
                                                <label>
                                                    on this date
                                                    <div class="row">
                                                        <div class="small-6 columns">
                                                            <select class="radius" name="onThisDateMonth" ng-model="tabs.snooze.periodically.form.onThisDate.monthModels.edit" ng-options="option for option in tabs.snooze.periodically.form.onThisDate.monthOptions"></select>
                                                        </div>
                                                        <div class="small-6 columns">
                                                            <select class="radius" name="onThisDateDay" ng-model="tabs.snooze.periodically.form.onThisDate.dayModels.edit" ng-options="option for option in tabs.snooze.periodically.form.onThisDate.dayOptions"></select>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            <!-- End On This Date -->

                                            <!-- At This Time -->
                                            <div class="small-12 columns text-center">
                                                <label>at this time</label>
                                                <uib-timepicker class="timepicker" ng-model="tabs.snooze.periodically.form.atThisTime.models.edit" ng-required="true" hour-step="tabs.snooze.periodically.form.atThisTime.hourStep" minute-step="tabs.snooze.periodically.form.atThisTime.minuteStep" show-meridian="tabs.snooze.periodically.form.atThisTime.isMeridian" show-spinners="tabs.snooze.periodically.form.atThisTime.showSpinners"></uib-timepicker>
                                            </div>
                                            <!-- End At This Time -->

                                        </div>
                                    </form>
                                </div>
                                <div class="small-12 columns">
                                    <div class="row collapse">

                                        <!-- Buttons -->
                                        <div class="small-4 columns">
                                            <button class="expand radius small" ng-click="tmSnoozePeriodicallySelected = !tmSnoozePeriodicallySelected">
                                                <i class="fa icon-close"></i>
                                            </button>
                                        </div>
                                        <div class="small-4 columns">
                                            <button class="expand radius small" ng-disabled="tabs.snooze.periodically.form.data.$pristine" ng-click="tabs.snooze.periodically.form.reset()">
                                                <i class="fa icon-undo"></i>
                                            </button>
                                        </div>
                                        <div class="small-4 columns">
                                            <button class="expand radius small" ng-disabled="tabs.snooze.periodically.form.disableSubmit()" ng-click="tabs.snooze.add(false, 'periodically')">
                                                <i class="fa icon-check"></i>
                                            </button>
                                        </div>
                                        <!-- End Buttons -->

                                    </div>
                                </div>
                            </div>
                            <div class="row fx-fade-up fx-easing-elastic" ng-show="tmSnoozePickADateSelected">
                                <div class="small-12 columns top">
                                    <uib-datepicker ng-model="tabs.snooze.pickADate.model" min-date="tabs.snooze.pickADate.minDate" show-weeks="tabs.snooze.pickADate.showWeeks" template-url="templates/datepicker/datepicker.html"></uib-datepicker>
                                </div>
                                <div class="small-12 columns">
                                    <div class="row collapse">
                                        <div class="small-6 columns">
                                            <button class="expand radius small" ng-click="tmSnoozePickADateSelected = !tmSnoozePickADateSelected">
                                                <i class="fa icon-close"></i>
                                            </button>
                                        </div>
                                        <div class="small-6 columns">
                                            <button class="expand radius small" ng-disabled="!tabs.snooze.pickADate.model" ng-click="tabs.snooze.add(false, 'pickADate')">
                                                <i class="fa icon-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-button text-center clickable fx-fade-normal" title="Open selected" ng-show="actionButtonShow('snoozeOpen') && navigation === 'snooze'" ng-click="tabs.snooze.reopen()">
                        <i class="fa icon-refresh fa-2x"></i>
                    </div>
                </div>
                <!-- End Header -->

                <!-- Content -->
                <div id="content" class="row content no-margin-side" custom-scrollbar="#5d6166" max-height="640">
                    <div class="small-12 columns overflow-hidden">

                        <!-- Recent Closed -->
                        <div class="row fx-fade-up" ng-show="navigation === 'recentlyClosed'">
                            <div class="small-12 columns">
                                <div class="row title no-margin-top">
                                    <div class="small-12 columns">Recent Closed Tabs</div>
                                </div>
                                <div class="row item clickable" ng-repeat="session in sessions.recentlyClosed.data" ng-class="{ even: $even, selected: session.tmSelected }" ng-click="session.tmSelected = !session.tmSelected">
                                    <div class="small-1 columns no-padding-right" ng-show="'' !== session.tab.favIconUrl && session.tab.favIconUrl">
                                        <img ng-src="{{session.tab.favIconUrl}}" width="16" />
                                    </div>
                                    <div class="columns" ng-class="{ 'small-11': '' !== session.tab.favIconUrl && session.tab.favIconUrl, 'small-12': '' === session.tab.favIconUrl || !session.tab.favIconUrl }" ng-bind="session.tab.title"></div>
                                </div>
                            </div>
                        </div>
                        <!-- End Recent Closed -->

                        <!-- Recent History -->
                        <div class="row fx-fade-up" ng-show="navigation === 'recentlyVisited'">
                            <div class="small-12 columns">
                                <div class="row title no-margin-top">
                                    <div class="small-12 columns">Recent History</div>
                                </div>
                                <div class="row item clickable" ng-repeat="item in history.recentlyVisited.data" ng-class="{ even: $even, selected: item.tmSelected }" ng-click="item.tmSelected = !item.tmSelected">
                                    <div class="small-12 columns" ng-show="item.title" ng-bind="item.title"></div>
                                    <div class="small-12 columns" ng-show="!item.title" ng-bind="item.url"></div>
                                </div>
                            </div>
                        </div>
                        <!-- End Recent History -->

                        <!-- Synced Devices -->
                        <div class="row fx-fade-up" ng-show="navigation === 'devices'">
                            <div class="small-12 columns">
                                <div class="row title no-margin-top">
                                    <div class="small-12 columns">Synced Devices</div>
                                </div>
                                <div class="row" ng-repeat="device in sessions.devices.data">
                                    <div class="small-12 columns">
                                        <div class="row item window clickable" ng-class="{ collapsed: device.tmCollapsed }" ng-click="device.tmCollapsed = !device.tmCollapsed">
                                            <div class="small-10 columns" ng-bind="device.deviceName"></div>
                                            <div class="small-2 columns text-right">
                                                <i class="fa icon-expand_more fa-lg" ng-show="!device.tmCollapsed" disable-animate></i>
                                                <i class="fa icon-chevron_right fa-lg" ng-show="device.tmCollapsed" disable-animate></i>
                                            </div>
                                        </div>
                                        <div class="row overflow-hidden" uib-collapse="device.tmCollapsed">
                                            <div class="small-12 columns" ng-repeat="session in device.sessions">
                                                <div class="row item clickable" ng-repeat="tab in session.window.tabs" ng-class="{ even: $even, selected: tab.tmSelected }" ng-click="tab.tmSelected = !tab.tmSelected">
                                                    <div class="small-1 columns no-padding-right" ng-show="'' !== tab.favIconUrl && tab.favIconUrl">
                                                        <img ng-src="{{tab.favIconUrl}}" width="16" />
                                                    </div>
                                                    <div class="columns" ng-class="{ 'small-11': '' !== tab.favIconUrl && tab.favIconUrl, 'small-12': '' === tab.favIconUrl || !tab.favIconUrl }" ng-bind="tab.title"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Synced Devices -->

                        <!-- Bring to One -->
                        <div class="row fx-fade-up" ng-show="navigation === 'bringToOne'">
                            <div class="small-12 columns">
                                <div class="row title no-margin-top">
                                    <div class="small-12 columns">Bring to One</div>
                                </div>
                                <div class="row" ng-repeat="window in windows.data">
                                    <div class="small-12 columns">
                                        <div class="row item window clickable" ng-class="{ collapsed: window.tmCollapsed }" ng-click="window.tmCollapsed = !window.tmCollapsed">
                                            <div class="small-10 columns">
                                                <span ng-show="window.focused">Window #{{$index + 1}} (Current)</span>
                                                <span ng-show="!window.focused">Window #{{$index + 1}}</span>
                                            </div>
                                            <div class="small-2 columns text-right">
                                                <i class="fa icon-expand_more fa-lg" ng-show="!window.tmCollapsed" disable-animate></i>
                                                <i class="fa icon-chevron_right fa-lg" ng-show="window.tmCollapsed" disable-animate></i>
                                            </div>
                                        </div>
                                        <div class="row overflow-hidden" uib-collapse="window.tmCollapsed">
                                            <div class="small-12 columns">
                                                <div class="row item clickable" ng-repeat="tab in window.tabs" ng-class="{ even: $even, selected: tab.tmSelected }" ng-click="tab.tmSelected = !tab.tmSelected">
                                                    <div class="small-1 columns no-padding-right" ng-show="'' !== tab.favIconUrl && tab.favIconUrl">
                                                        <img ng-src="{{tab.favIconUrl}}" width="16" />
                                                    </div>
                                                    <div class="columns" ng-class="{ 'small-11': '' !== tab.favIconUrl && tab.favIconUrl, 'small-12': '' === tab.favIconUrl || !tab.favIconUrl }" ng-bind="tab.title"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Bring to One -->

                        <!-- Snooze -->
                        <div class="row fx-fade-up" ng-show="navigation === 'snooze'">
                            <div class="small-12 columns">

                                <!-- Current Snoozed Tabs -->
                                <div class="row title clickable no-margin-top" ng-show="tabs.snooze.current.data.length > 0" ng-click="tabs.snooze.current.tmCollapsed = !tabs.snooze.current.tmCollapsed">
                                    <div class="small-10 columns">Snoozed Tabs</div>
                                    <div class="small-2 columns text-right">
                                        <i class="fa icon-expand_more fa-lg primary" ng-show="!tabs.snooze.current.tmCollapsed" disable-animate></i>
                                        <i class="fa icon-chevron_right fa-lg primary" ng-show="tabs.snooze.current.tmCollapsed" disable-animate></i>
                                    </div>
                                </div>
                                <div class="row" ng-show="tabs.snooze.current.data.length > 0">
                                    <div class="small-12 columns">
                                        <div class="row overflow-hidden" uib-collapse="tabs.snooze.current.tmCollapsed">
                                            <div class="small-12 columns">
                                                <div class="row item clickable" ng-repeat="snooze in tabs.snooze.current.data" ng-class="{ even: $even, selected: snooze.tmSelected }">
                                                    <div class="small-1 columns no-padding-right" ng-show="'' !== snooze.tab.favIconUrl && snooze.tab.favIconUrl" ng-click="snooze.tmSelected = !snooze.tmSelected; tabs.unselect()">
                                                        <img ng-src="{{snooze.tab.favIconUrl}}" width="16" />
                                                    </div>
                                                    <div class="columns" ng-class="{ 'small-10': '' !== snooze.tab.favIconUrl && snooze.tab.favIconUrl, 'small-11': '' === snooze.tab.favIconUrl || !snooze.tab.favIconUrl }" ng-click="snooze.tmSelected = !snooze.tmSelected; tabs.unselect()">
                                                        <span ng-bind="snooze.tab.title"></span><br />
                                                        <small>
                                                            Snoozed <strong ng-bind="snooze.dateCreated | momentFromNow"></strong>
                                                            <span ng-show="'periodically' !== snooze.type">until <strong ng-bind="snooze.snoozeToDates[0] | date: 'medium'"></strong></span>
                                                        </small>
                                                    </div>
                                                    <div class="small-1 columns" ng-click="tabs.snooze.remove($index)">
                                                        <i class="fa icon-close primary fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Current Snoozed Tabs -->

                                <!-- This Tab -->
                                <div class="row title" ng-class="{ 'no-margin-top': tabs.snooze.current.data.length === 0 }">
                                    <div class="small-12 columns">Snooze this tab</div>
                                </div>
                                <div class="row item clickable" ng-class="{ selected: tabs.current.tmSelected }" ng-click="tabs.current.tmSelected = !tabs.current.tmSelected; tabs.select(true, tabs.current.id)">
                                    <div class="small-1 columns no-padding-right" ng-show="'' !== tabs.current.favIconUrl && tabs.current.favIconUrl">
                                        <img ng-src="{{tabs.current.favIconUrl}}" width="16" />
                                    </div>
                                    <div class="columns" ng-class="{ 'small-11': '' !== tabs.current.favIconUrl && tabs.current.favIconUrl, 'small-12': '' === tabs.current.favIconUrl || !tabs.current.favIconUrl }" ng-bind="tabs.current.title"></div>
                                </div>
                                <!-- End This Tab -->

                                <!-- Select Tabs -->
                                <div class="row title">
                                    <div class="small-12 columns">Snooze select tabs</div>
                                </div>
                                <div class="row" ng-repeat="window in windows.data">
                                    <div class="small-12 columns">
                                        <div class="row item window clickable" ng-class="{ collapsed: window.tmCollapsed }" ng-click="window.tmCollapsed = !window.tmCollapsed">
                                            <div class="small-10 columns">
                                                <span ng-show="window.focused">Window #{{$index + 1}} (Current)</span>
                                                <span ng-show="!window.focused">Window #{{$index + 1}}</span>
                                            </div>
                                            <div class="small-2 columns text-right">
                                                <i class="fa icon-expand_more fa-lg" ng-show="!window.tmCollapsed" disable-animate></i>
                                                <i class="fa icon-chevron_right fa-lg" ng-show="window.tmCollapsed" disable-animate></i>
                                            </div>
                                        </div>
                                        <div class="row overflow-hidden" uib-collapse="window.tmCollapsed">
                                            <div class="small-12 columns">
                                                <div class="row item clickable" ng-repeat="tab in window.tabs" ng-class="{ even: $even, selected: tab.tmSelected }" ng-click="tab.tmSelected = !tab.tmSelected; tabs.select(false, tab.id)">
                                                    <div class="small-1 columns no-padding-right" ng-show="'' !== tab.favIconUrl && tab.favIconUrl">
                                                        <img ng-src="{{tab.favIconUrl}}" width="16" />
                                                    </div>
                                                    <div class="columns" ng-class="{ 'small-11': '' !== tab.favIconUrl && tab.favIconUrl, 'small-12': '' === tab.favIconUrl || !tab.favIconUrl }" ng-bind="tab.title"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Select Tabs -->

                            </div>
                        </div>
                        <!-- End Snooze -->

                        <!-- Settings -->
                        <div class="row fx-fade-up" ng-show="navigation === 'settings'">
                            <div class="small-12 columns">

                                <!-- Snooze -->
                                <div class="row title">
                                    <div class="small-12 columns">Settings</div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <div class="row item window clickable small-margin-bottom" ng-class="{ collapsed: settings.snooze.tmCollapsed }" ng-click="settings.snooze.tmCollapsed = !settings.snooze.tmCollapsed">
                                            <div class="small-10 columns">Snooze</div>
                                            <div class="small-2 columns text-right">
                                                <i class="fa icon-expand_more fa-lg" ng-show="!settings.snooze.tmCollapsed" disable-animate></i>
                                                <i class="fa icon-chevron_right fa-lg" ng-show="settings.snooze.tmCollapsed" disable-animate></i>
                                            </div>
                                        </div>
                                        <div class="row overflow-hidden" uib-collapse="settings.snooze.tmCollapsed">
                                            <div class="small-4 columns">
                                                <p class="settings-section-name">
                                                    <strong>Snooze Times</strong>
                                                </p>
                                            </div>
                                            <div class="small-8 columns">
                                                <div class="row">
                                                    <div class="small-6 columns">
                                                        <label for="workdayStarts" class="inline">
                                                            Workday Starts&nbsp;&nbsp;
                                                            <i class="fa icon-check success fx-fade-normal" ng-show="settings.snooze.data.workdayStarts.saved"></i>
                                                        </label>
                                                    </div>
                                                    <div class="small-6 columns">
                                                        <select id="workdayStarts" class="radius" ng-model="settings.snooze.data.workdayStarts.model" ng-required="true" ng-options="option for option in settings.snooze.data.workdayStarts.options" ng-change="settings.save('settings.snooze.data.workdayStarts')"></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="small-6 columns">
                                                        <label for="workdayEnds" class="inline">
                                                            Workday Ends&nbsp;&nbsp;
                                                            <i class="fa icon-check success fx-fade-normal" ng-show="settings.snooze.data.workdayEnds.saved"></i>
                                                        </label>
                                                    </div>
                                                    <div class="small-6 columns">
                                                        <select id="workdayEnds" class="radius" ng-model="settings.snooze.data.workdayEnds.model" ng-required="true" ng-options="option for option in settings.snooze.data.workdayEnds.options" ng-change="settings.save('settings.snooze.data.workdayEnds')"></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="small-6 columns">
                                                        <label for="weekStarts" class="inline">
                                                            Week Starts&nbsp;&nbsp;
                                                            <i class="fa icon-check success fx-fade-normal" ng-show="settings.snooze.data.weekStarts.saved"></i>
                                                        </label>
                                                    </div>
                                                    <div class="small-6 columns">
                                                        <select id="weekStarts" class="radius" ng-model="settings.snooze.data.weekStarts.model" ng-required="true" ng-options="option for option in settings.snooze.data.weekStarts.options" ng-change="settings.save('settings.snooze.data.weekStarts')"></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="small-6 columns">
                                                        <label for="weekendStarts" class="inline">
                                                            Weekend Starts&nbsp;&nbsp;
                                                            <i class="fa icon-check success fx-fade-normal" ng-show="settings.snooze.data.weekendStarts.saved"></i>
                                                        </label>
                                                    </div>
                                                    <div class="small-6 columns">
                                                        <select id="weekendStarts" class="radius" ng-model="settings.snooze.data.weekendStarts.model" ng-required="true" ng-options="option for option in settings.snooze.data.weekendStarts.options" ng-change="settings.save('settings.snooze.data.weekendStarts')"></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="small-6 columns">
                                                        <label for="laterToday" class="inline">
                                                            Later Today&nbsp;&nbsp;
                                                            <i class="fa icon-check success fx-fade-normal" ng-show="settings.snooze.data.laterToday.saved"></i>
                                                        </label>
                                                    </div>
                                                    <div class="small-6 columns">
                                                        <select id="laterToday" class="radius" ng-model="settings.snooze.data.laterToday.model" ng-required="true" ng-options="option for option in settings.snooze.data.laterToday.options" ng-change="settings.save('settings.snooze.data.laterToday')"></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="small-6 columns">
                                                        <label for="someday" class="inline">
                                                            Someday&nbsp;&nbsp;
                                                            <i class="fa icon-check success fx-fade-normal" ng-show="settings.snooze.data.someday.saved"></i>
                                                        </label>
                                                    </div>
                                                    <div class="small-6 columns">
                                                        <select id="someday" class="radius" ng-model="settings.snooze.data.someday.model" ng-required="true" ng-options="option for option in settings.snooze.data.someday.options" ng-change="settings.save('settings.snooze.data.someday')"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Snooze -->

                            </div>
                        </div>
                        <!-- End Settings -->

                    </div>
                </div>
                <!-- End Content -->

            </div>
            <!-- End Main -->

        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-momentjs/angular-momentjs.js"></script>
        <script src="bower_components/fastclick/lib/fastclick.js"></script>
        <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
        <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
        <script src="bower_components/foundation/js/foundation.js"></script>
        <script src="bower_components/jquery.nicescroll/jquery.nicescroll.js"></script>
        <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
        <script src="bower_components/ngFx/dist/ngFx.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/popup.js -->
        <script src="scripts/app.js"></script>
        <script src="templates.js"></script>
        <script src="scripts/controllers/popup.js"></script>
        <script src="scripts/directives/add-border.js"></script>
        <script src="scripts/directives/custom-scrollbar.js"></script>
        <script src="scripts/directives/disable-animate.js"></script>
        <script src="scripts/directives/main-section.js"></script>
        <script src="scripts/filters/moment-from-now.js"></script>
        <script src="scripts/services/history.js"></script>
        <script src="scripts/services/sessions.js"></script>
        <script src="scripts/services/tabs.js"></script>
        <script src="scripts/services/utilities.js"></script>
        <script src="scripts/services/windows.js"></script>
        <!-- endbuild -->

    </body>
</html>
